<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/logo.png" rel="icon">
    <title>Team CellMania</title>
</head>
<style>
    body {
    background: url('img/logo.jpeg') no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  @media only screen and (max-width: 800px) {
   body {
        background-image: url('img/fondocell.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        
    }
}
</style>
<body>


      <div class="form-header text-center"   >
        <h1 class="form-title text-primary"><strong>Menu</strong> </h1>
        <a class="btn btn-outline-primary mt-2" href="/names">
            <h1>
                <span>Participantes</span>
                <i class="bi bi-list-ul "></i>
            </h1>
        </a>
        <a class="btn btn-outline-success mt-2" href="/createnames">
            <h1>
                <span>Nuevo</span>
                <i class="bi bi-plus-circle-fill "></i>
            </h1>
        </a>
        <a class="btn btn-outline-secondary mt-2" href="/namesall">
            <h1>
                <span>Historial</span>
                <i class="bi bi-clock-history"></i>
            </h1>
        </a>
    </div>








</body>

</html>