<!DOCTYPE html>
<html lang="es">

<head>
  <style>
    .panel-transparent {
      background: none;
    }
  </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

  <link href="img/logo1.png" rel="icon">
  <title>TEAMCELLMANIA</title>
</head>

<body class="">


  {{{body}}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>




</body>

</html>